*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 2rem;
}
.first{
    text-align: center;
    margin-top: 2rem;
}
.second{
    text-align: center;
    margin-top: 1rem;
}
div{
    text-align: center;
    align-items: center;
    justify-content: center;
}
p{
    text-align: center;
}